.expenses-table thead th button.ui.basic.button.expense-header-category {
	text-align: left;
}
.expenses-table thead th button.ui.basic.button {
  border: none;
	box-shadow: none!important;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.expenses-table thead th button.ui.basic.button:hover, .expenses-table thead th button.ui.basic.button:focus {
	box-shadow: none !important;
}
.expenses-table thead th button.ui.basic.button:hover {
	text-decoration: underline;
}
.expenses-table .ui.loader {
	z-index: 1;
}
.expenses-table-header {
	top: 3.285714286rem;
	position: -webkit-sticky;
	position: sticky;
	z-index: 2;
	padding: 1em 1px 0;
	background-color: #fff;
	margin: 0 -1px;
}
.expenses-table-header .expenses-table {
	border-bottom: 0;
}
