.editable-text {
	position: relative;
}
.editable-text span {
	display: inline-block;
}
.editable-text .ui.inline.loader {
	float: right;
	margin-top: 2px;
}
.editable-text .ui.buttons {
	position: absolute;
	right: 0;
	z-index: 2;
}
.editable-text button.ui.button {
  opacity: 0;
	padding: .5em;
	transition: 250ms ease;
}
.editable-text:hover button.ui.button {
	opacity: 1;
	transition: 250ms ease;
}
.editable-text .label.error-label {
	position: absolute;
	right: 0;
	top: 1px;
	transition: right 250ms ease 50ms;
	z-index: 1;
}
.editable-text:hover .label.error-label {
	right: 65px;
	transition: right 150ms linear;
}
.editable-text .input input {
	padding-top: .632em;
	padding-bottom: .625em;
}
.editable-text .input button.ui.button {
  opacity: 1;
}
.table thead th .editable-text span {
	margin: 3px 0;
}
.table thead th .editable-text input {
	padding-top: .25em;
	padding-bottom: .25em;
}
.table thead th button.ui.button {
	margin: .125em 0;
}
