.input-price {
	position: relative;
}
.input-price .ui.pointing.label {
	position: absolute;
	top: 5px;
	z-index: 100;
}
.input-price .ui.pointing.label.left {
	left: 100%;
}
.input-price .ui.pointing.label.right {
	right: 100%;
}
.input-price .ui.input input {
	text-align: right;
}
.input-price .ui.input.disabled {
	opacity: 1;
}
.input-price .ui.input.disabled input, .input-price .ui.input.disabled .basic.label {
	background: #fbfbfb;
}
