.budget-table.ui.table thead tr th {
	padding-top: .6em;
	padding-bottom: .5em;
}
.budget-table thead tr th span {
	display: inline-block;
	height: 1.9em;
	padding: .25em;
}
.budget-table thead tr th .ui.button {
	opacity: 0;
	transition: 250ms ease;
}
.budget-table thead tr:hover th .ui.button {
	opacity: 1;
	transition: 250ms ease;
}
