.budget-table.ui.table thead th {
	padding-top: .6em;
	padding-bottom: .5em;
}
.budget-table thead th span {
	display: inline-block;
	height: 2em;
	padding: .25em;
}
.budget-table tbody td span {
	padding: .25em 0;
}
.budget-table tbody td {
	position: relative;
}
.budget-table thead th .ui.button {
	opacity: 0;
	transition: 250ms ease;
}
.budget-table thead tr:hover th .ui.button {
	opacity: 1;
	transition: 250ms ease;
}
