.category-name span {
	margin: 5px 0;
	display: inline-block;
}
.category-name button.ui.button {
  opacity: 0;
	transition: 250ms ease;
}
.category-name:hover button.ui.button {
	opacity: 1;
	transition: 250ms ease;
}
