.ui.dimmer.password-requirement > .content {
	width: 100%;
}
.ui.dimmer.password-requirement .ui.segment {
	margin: 1em 2em 0;
}
.ui.dimmer.password-requirement .ui.segment .ui.icon.message > .icon {
  font-size: 1.5em;
}
.ui.dimmer.password-requirement .ui.segment .ui.icon.message .content {
	text-align: left;
}
