.ui.segment.password-requirement.password-requirement {
	margin: 1em 2em 0;
}
.ui.segment.password-requirement.password-requirement .ui.icon.message > .icon {
  font-size: 1.5em;
}
.ui.segment.password-requirement.password-requirement .ui.icon.message .content {
	text-align: left;
}
